body{
    background-color: blueviolet;
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
      
}

h1{
    color:darkslategray;
    text-align: center;

}
.contenedor{
    background-color: white;
    width: 30%;
    padding: 30px;
    margin: 30px auto;
}

.listaTareas{
margin-right: auto;
margin-left: auto;
width: 100%;

}
 form{
    display: flex;
}

input{
    padding: 15px 10px; 
    width: 400px;
    outline: none;
}


.btn-add{
padding: 5px 15px;
color: white;
background-color: teal;
font-family: fantasy;
border: none;
font-size: 1.4rem;
outline: none;
}

.btn-add:hover
{
    cursor: pointer;
    background-color: lightseagreen;
}

.vacio{
    color: darkslategray;
}
 
.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-family: fantasy;
    padding: 5px 15px;
    font-size: 1.3em;
    width: 10%;
  }
  
li
{
    list-style: none;
    background-color: lightgray; 
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p
{
    margin: 0;
    padding: 15px;
    width: 100%;
}

ul{
    padding: 0;
}

.btn-delete:hover{
    cursor: pointer;
    background-color: rgb(83, 91, 90);
}